@import 'tailwindcss';

@theme {
    --color-red: #E10600;
    --color-white: #FFF;
    --color-black: #000;
    --color-dark: #15151E;
    --color-gray: #999;
    --color-light-gray: #F3F3F3;

    --font-regular: var(--font-regular);
    --font-turbo: var(--font-turbo);
    --font-torque: var(--font-torque);
}

body {
    color: var(--color-black);
    background: var(--color-white);
    font-family: var(--font-regular);
}
